<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SWAPI| Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script type="module" src="../static/js/script.js"></script>
</head>
<body>
    <div id="top_bar" class="topnav"></div>

    <div class="registration-page">
        <h1>Nice to see you again!</h1>

        <form action="/login" method='POST'>
            <div class="container">
                <label>Login : </label>
                <input type="text" placeholder="Enter Email" name="email" required>
                <label>Password : </label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <button type="submit">LogIn</button>
            </div>
        </form>
    </div>


</body>
</html>